/* SMALL LAPTOPS 1024px - 1200px */

@media (max-width: 74rem){
  /* 1170px / 16px = 73.1rem */
  /* 74rem * 16px = 1184px */

  html{
    font-size: 56.25%;
  }

}

/* TABLETS  768px - 1024pX */
@media (max-width: 67rem){
  html{
    font-size: 50%;
  }

}

/* LARGE PHONES 576px - 768px */
@media(max-width: 45rem){
  html{
    font-size: 43.75%;
  }
}

@media (max-width: 38rem){
  
  html{
    font-size: 37.5%;
  }

}