.curved-loop-jacket {
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 4rem;
  fill: #000000;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
}
