:root{
  --primary-bg: #F1F3E0;
  --primary-textcolor: #000000;
  --primary-font: "Lexend", serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--primary-bg);
  color: var(--primary-textcolor);
  font-family: var(--primary-font);
  font-size: 1.2rem;
}

.container{
  margin: 0 auto;
  max-width: 1100px;
}

.subsection-heading{
  padding: 30px 0;
}

.nav-bar{
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-family: "Inria Serif", serif;
}

.logo{
  height: 60px;
}

.nav-links{
  list-style: none;
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 900;
}

.nav-btn{
  padding: 1rem 2rem;
  height: 100%;
}

.nav-btn:hover{
  background-color: #000000;
  color: var(--primary-bg);
  border-radius: 30px;
  cursor: pointer;
}

a{
  all: unset;
}

/* --- HERO SECTION --- */

.hero-container{
  min-height: calc(100vh-60px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  margin-top: 40px;
}

.hero-text{
  font-family: "Young Serif", serif;
  font-weight: 500;
  font-size: 5rem;
  margin-top: 70px;
}

.hero-right{
  position: relative;
  border: 2px solid black;
  border-radius: 190px;

}

.profile-pic{
  height: 450px;
  /* border: 2px solid black; */
  border-radius: 190px;
  padding-top: 30px;
  overflow: hidden;
}

.profile-detail{
  background-color: #000000;
  color: var(--primary-bg);
  padding: 0.7rem 1rem;
  border-radius: 30px;
  box-shadow: 2px 2px 4px 0px #525151;
}

.profile-detail:hover, .profile-pic:hover{
  transform: scale(1.07);
}

.profile-name{
  position: absolute;
  top: 70px;
  left: -90px;
}

.profile-age{
  position: absolute;
  top: 300px;
  right: -60px;
}

.profile-location{
  position: absolute;
  bottom: 40px;
  left: -20px;
}

.education-container{
  margin: 100px 0;
}

.edu-item{
  padding: 10px 0;
}

.major-projects-container{
  margin: 150px 0;
}

.major-projects-list{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.project-item{
  background-color: #D2DCB6;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-item section{
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 1;
}

.project-item img{
  height: 200px;
  width: 300px;
  border: 1px solid black;
}

.view-btn{
  all: unset;
  background-color: #000000;
  color: var(--primary-bg);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.view-btn:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.tails{
  margin: 70px 0;;
}

.contact-container{
  margin: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-card{
  background-color: #D2DCB6;
  color: var(--primary-bg);
  padding: 150px 400px;
  border-radius: 50px;
}

.contact-btn{
  all: unset;
  background-color: #202020;
  color: var(--primary-bg);
  padding: 1.2rem 2rem;
  border-radius: 30px;
  font-size: 1.2rem;
}

.social-links{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  color: #202020;
}

.link-btn:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-top: 1px solid #303030;
  color: #202020;
  font-size: 1rem;
}

.working{
  min-height: calc(100vh-60px);
  margin: 200px;
}