@media (max-width: 125rem) {
  /* Larger screens */
  /* 125rem * 16px = 2000px */
  html{
    font-size: 62.5%;
  }
}

@media (max-width: 75rem) {
  /* Large laptops */
  /* 75rem * 16px = 1200px */
  .container{
    max-width: 90rem;
  }

  .contact-form-heading{
    text-align: center;
  }
}

@media (max-width: 60rem) {
  /* Small laptops */
  /* 60rem * 16px = 960px */
  html{
    font-size: 56.25%;
  }

  .container{
    max-width: 85rem;
  }
}


@media (max-width: 53rem){
  /* Tablets */
  /* 53rem * 16px = 848px */
  .container{
    max-width: 70rem;
  }


}

@media (max-width: 44rem){
  /* Large mobile */
  /* 44rem * 16px = 704px */
  html{
    font-size: 50%;
  }

  .container{
    max-width: 40rem;
    margin: auto;
  }

  .nav-links-desktop{
    display: none;
  }

  .hero-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .hero-right{
    display: flex;
  }

  .profile-pic{
    height: 35rem;
  }

  .profile-name{
    left: -6rem;
    font-size: 1rem;
  }

  .profile-age{
    top: 25rem;
    right: -4rem;
    font-size: 1rem;
  }

  .profile-location{
    font-size: 1rem;
    bottom: 4rem;
    left: -4rem;
  }

  .hero-text{
    margin: 0;
  }

  .major-projects-container, .education-container{
    margin: 3rem;
  }

  .major-projects-list{
    grid-template-columns: 1fr;
  }

  .skills-container{
    display: none;
  }

  .contact-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
  }

  .contact-cta{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  .social-links{
    width: 100%;
    justify-content: space-around;
  }

  .link-btn{
    width: 1rem;
  }

  .footer{
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 1rem;
  }

  .projects-grid{
    grid-template-columns: 1fr;
  }

  .contact-form{
    min-width: 30rem;
  }

}


/* @media (max-width: 24rem){
  .container{
    max-width: 25rem;
  }

  .contact-form-container{
    max-width: 25rem;
  }
} */